#tablero {
    display: flex;
    flex-wrap: wrap;
    width: 25em;
}

#tablero div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 4px;
}


div.false {
    background-color: green;
    width: 1em;
    height: 1em;
    margin: 0.2em;
}

div.true {
    background-color: red;
    width: 1em;
    height: 1em;
    margin: 0.2em;
}