main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(194, 194, 194);
}

#tablero div {
    width: 2.7em;

    cursor: pointer;
}

#tablero div:hover {
    filter: brightness(0.9);
}

#tablero div img {
    width: 100%;
    height: 100%;
    margin: 0;
}

#tablero div img:active {
    transform: scale(0.95);
}



#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24em;
    margin-top: 1em;
    border: black 1px solid;
}



#menu {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 20.5em;
    margin-top: 1em;
    padding: 0.5em;
}

#menu #contenedorInfoPartida {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 3em;
}


#menu #contenedorInfoPartida img {
    width: 1.25em;
    height: 100%;
    margin: 0;
}

#tiempoTranscurrido {
    display: flex;
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#menu #emoji img {
    width: 3.25em;
    transition: 0.1s;
}

#menu #emoji img:hover {
    cursor: pointer;
}

#menu #emoji img:active {
    transform: scale(0.95);
}

#menu #btnAjustes {
    width: 3.25em;
    transition: 0.1s;
}

#menu #btnAjustes:hover {
    cursor: pointer;
}

#menu #btnAjustes:active {
    transform: scale(0.95);
}


